.txt-sm {
	font-size: $font-size-sm;
}
.txt-base {
	font-size: $font-size-base;
}
.txt-md {
	font-size: $font-size-md;
}
.txt-lg {
	font-size: $font-size-lg;
}

// Headings
.txt-h1-size {
	font-size: $h1-font-size;
}
.txt-h2-size {
	font-size: $h2-font-size;
}
.txt-h3-size {
	font-size: $h3-font-size;
}
.txt-h4-size {
	font-size: $h4-font-size;
}
.txt-h5-size {
	font-size: $h5-font-size;
}
.txt-h6-size {
	font-size: $h6-font-size;
}
