//-- Variables
$enable-gradients: false;

// Screen sizes
$screen-xs-min: 576px;
$screen-sm-min: 768px;
$screen-md-min: 922px;
$screen-lg-min: 1200px;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

// Layout
$toolbar-height-sm: 60px;
$toolbar-height: 69px;
$header-width: 285px;
$toolbar-side-padding: 23px;

// Colors
$navy: #3d5170;
$orange: #ff6d00;
$orangeMedium: #ff8a00;
$blueHeading: #edf3fd;
$blueBorder: #becad6;
$blueText: #818ea3;
$blue: #04bcdd;
$blueGray: #5a6169;

$green: #17c671;
$yellow: #ffb400;
$red: #ff0000;
$redDark: #c4183c;

$black: #000000;
$grayNav: #f4f6fa;
$grayBase: #4a4a4a;
$grayBG: #f5f6f8;
$grayLight: #fbfbfb;
$grayBorderLight: #e0e2e8;
$white: #fff;

//
// Bootstrap Color system
//

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$grays: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$grays: map-merge(
  (
    '100': $gray-100,
    '200': $gray-200,
    '300': $gray-300,
    '400': $gray-400,
    '500': $gray-500,
    '600': $gray-600,
    '700': $gray-700,
    '800': $gray-800,
    '900': $gray-900,
  ),
  $grays
);

$blue: #007bff !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #28a745 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;

$colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$colors: map-merge(
  (
    'blue': $blue,
    'indigo': $indigo,
    'purple': $purple,
    'pink': $pink,
    'red': $red,
    'orange': $orange,
    'yellow': $yellow,
    'green': $green,
    'teal': $teal,
    'cyan': $cyan,
    'white': $white,
    'gray': $gray-600,
    'gray-dark': $gray-800,
  ),
  $colors
);

$primary: $blue !default;
$secondary: $gray-600 !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-800 !default;

$theme-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
  (
    'primary': $primary,
    'secondary': $secondary,
    'success': $success,
    'info': $info,
    'warning': $warning,
    'danger': $danger,
    'light': $light,
    'dark': $dark,
  ),
  $theme-colors
);

// Set a specific jump point for requesting color jumps
$theme-color-interval: 8% !default;

// Fonts
$font-family-base: 'Open Sans', sans-serif;

// Font sizes
$font-size-sm: 0.625rem; //10px
$font-size-base: 0.75rem; //12px
$font-size-md: 0.9375rem; //15px
$font-size-lg: 1.5625rem; //25px

$h1-font-size: 1.875rem; //30px
$h2-font-size: 1.125rem; //18px
$h3-font-size: 1rem; //16px
$h4-font-size: 0.6875rem; //11px
$h5-font-size: 0.625rem; //10px
$h6-font-size: 0.562rem; //9px

// Font Weights
$weightRegular: 400;
$weightMedium: 500;
$weightSemiBold: 600;
$weightBold: 700;

// Line Height
$line-height-base: 1.3333333;
$line-height-large: 1.5;
$line-height-small: 1;

// Paragraph margin
$paragraphMargin: 1em;

// Padding
$padding-sm: 20px;
$padding: 40px;
$padding-md: 80px;
$padding-lg: 100px;

// Borders
$border-width: 1px !default;
$border-radius: 9px;

// Alerts
//
// Define alert colors, border radius, and padding.

$alert-padding-y: 0.75rem !default;
$alert-padding-x: 1.25rem !default;
$alert-margin-bottom: 0;
$alert-border-radius: $border-radius !default;
$alert-link-font-weight: $weightBold;
$alert-border-width: $border-width !default;

$alert-bg-level: -10 !default;
$alert-border-level: -9 !default;
$alert-color-level: 6 !default;
